# Node.js / npm
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/package-lock.json
/yarn.lock

# Archivos de construcción de React
/build
/dist

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# Directorios temporales
tmp/
temp/

# Coverage de pruebas
/coverage

# Archivos de errores de procesos en Node.js
npm-error.log

# Editor o IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Configuración de ESLint y Prettier
.eslintcache
.prettierignore

# Cache de parcel-bundler
.cache
.parcel-cache

# Archivos de bloqueo
*.lock

# Archivos de ServiceWorker
workbox-config.js
